.section-iql {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  background: url(../img/info-bg.png) no-repeat;
  display: flex;
  margin-bottom: 40px;

  .column-1 {
    width: 540px;

    .iql {
      margin: 35px 0 10px 0;
    }

    .iql-title {
      margin-bottom: 15px;
    }

    .iql-text {
      margin-bottom: 25px;
    }

    .iql-list {
      margin-left: 20px;
    }

    @media screen and (max-width: 1200px) {
      width: 60%;
      text-align: left;
    }
  }

  .column-2 {
    margin-left: 170px;
    text-align: center;

    .store {
      cursor: pointer;

      .app-store {
        margin-right: 15px;
      }

      .phones-img {
        max-width: 100%;
        padding-top: 20px;
      }
    }

    @media screen and (max-width: 1800px) {
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}


